<li class="project-item">
   {% if page.header.link %}
      <a href="{{ page.header.link }}">
   {% else %}
       <a href="{{ page.url }}">
   {% endif %} 
     <figure>
      {% if page.media.images %}
        <img src="{{ page.media.images|first.url }} " alt=""/>
      {% endif %} 
  
      <figcaption>   
         <div class="title-tag">{{ page.title }}</div>       
         <p> {{ page.summary|striptags }}</p>       
      </figcaption>
  </figure>
      </a>
</li>

